---
import "../styles/global.css";
import { LANGS, DEFAULT_LANG } from "@/lib/lang";
import { EMAIL, BASE_URL } from "@/lib/constant";

type Props = {
  lang: string;
  title: string;
  descriptions: string[];
};

const { lang, title, descriptions } = Astro.props;
const description = descriptions.join();
const canonicalUrl = `${BASE_URL}${lang === DEFAULT_LANG ? "" : `/${lang}`}`;

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "Organization",
  name: title,
  description: description,
  EMAIL,
  logo: `${BASE_URL}/logo.svg`,
};
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <meta content={Astro.generator} name="generator" />

    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <link href="/favicon.svg" rel="icon" type="image/x-icon" />

    <link href={canonicalUrl} rel="canonical" />
    <link href={`${BASE_URL}`} hreflang="en" rel="alternate" />
    <link href={`${BASE_URL}/ja`} hreflang="ja" rel="alternate" />
    <link href={BASE_URL} hreflang="x-default" rel="alternate" />

    <title>{title}</title>
    <meta content={title} name="og:title" />
    <meta content={title} name="og:site_name" />
    <meta content={title} name="twitter:title" />
    <meta content={description} name="description" />
    <meta content={description} name="og:description" />
    <meta content={description} name="twitter:description" />
    <meta content={`${BASE_URL}/ogp.png`} name="og:image" />
    <meta content={`${BASE_URL}/ogp.png`} name="twitter:image" />
    <meta content={BASE_URL} name="og:url" />
    <meta content="website" name="og:type" />
    <meta content="summary_large_image" name="twitter:card" />

    <link href="/sitemap-index.xml" rel="sitemap" />

    {/* eslint-disable astro/no-set-html-directive */}
    <script
      is:inline
      set:html={JSON.stringify(jsonLd)}
      type="application/ld+json"
    />
    {/* eslint-enable astro/no-set-html-directive */}
  </head>

  <body>
    <header>
      <img
        alt="logo"
        fetchpriority="high"
        height="48px"
        src="/logo.svg"
        width="104px"
      />
      <div class="links">
        {
          LANGS.map((l) =>
            lang === l ? (
              <span>{l}</span>
            ) : (
              <a href={l === DEFAULT_LANG ? "/" : `/${l}`} hreflang={l}>
                {l}
              </a>
            ),
          )
        }
      </div>
    </header>

    <main>
      <slot />
    </main>

    <footer>&copy; 2025 {title}</footer>
  </body>
</html>
