---
import "../styles/global.css";
import { BASE_URL, EMAIL } from "@/lib/constant";
import { LANGS, DEFAULT_LANG } from "@/lib/lang";

type Props = {
  lang: string;
  title: string;
  descriptions: string[];
};

const { lang, title, descriptions } = Astro.props;
const description = descriptions.join();
const canonicalUrl = `${BASE_URL}${lang === DEFAULT_LANG ? "" : `/${lang}`}`;

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "Organization",
  name: title,
  description: description,
  EMAIL,
  logo: `${BASE_URL}/logo.svg`,
};
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="generator" content={Astro.generator} />

    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="icon" href="/favicon.svg" type="image/x-icon" />

    <link rel="canonical" href={canonicalUrl} />
    <link rel="alternate" hreflang="en" href={`${BASE_URL}`} />
    <link rel="alternate" hreflang="ja" href={`${BASE_URL}/ja`} />
    <link rel="alternate" hreflang="x-default" href={BASE_URL} />

    <title>{title}</title>
    <meta name="og:title" content={title} />
    <meta name="og:site_name" content={title} />
    <meta name="twitter:title" content={title} />
    <meta name="description" content={description} />
    <meta name="og:description" content={description} />
    <meta name="twitter:description" content={description} />
    <meta name="og:image" content={`${BASE_URL}/ogp.png`} />
    <meta name="twitter:image" content={`${BASE_URL}/ogp.png`} />
    <meta name="og:url" content={BASE_URL} />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <script
      is:inline
      type="application/ld+json"
      set:html={JSON.stringify(jsonLd).replace(/</g, "\\u003c")}
    />
  </head>

  <body>
    <header>
      <img
        src="/logo.svg"
        alt="logo"
        fetchpriority="high"
        width="104px"
        height="48px"
      />
      <div class="links">
        {
          LANGS.map((l) =>
            lang === l ? (
              <span>{l}</span>
            ) : (
              <a hreflang={l} href={l === DEFAULT_LANG ? "/" : `/${l}`}>
                {l}
              </a>
            ),
          )
        }
      </div>
    </header>

    <main>
      <slot />
    </main>

    <footer>&copy; 2025 {title}</footer>
  </body>
</html>
