---
import { EMAIL } from "@/lib/constant";
import { Image } from "astro:assets";
import AvatarImage from "@/assets/avatar.webp";

type Props = {
  title: string;
  descriptions: string[];
};

const { title, descriptions } = Astro.props;

const links = [
  {
    label: "GitHub",
    url: "https://github.com/kanaru-ssk",
  },
  {
    label: "LinkedIn",
    url: "https://www.linkedin.com/in/kanaru-ssk/",
  },
];
---

<>
  <Image
    alt="avatar"
    class="avatar"
    decoding="sync"
    fetchpriority="high"
    height={256}
    loading="eager"
    sizes="256px"
    src={AvatarImage}
    width={256}
    widths={[256, 512]}
  />
  <h1>{title}</h1>
  <p class="links">
    {
      links.map((link) => (
        <a href={link.url} rel="noopener noreferrer" target="_blank">
          {link.label}
        </a>
      ))
    }
    <a href={`mailto:${EMAIL}`}>
      {EMAIL}
    </a>
  </p>
  <p>
    {
      descriptions.map((description, i) => (
        <>
          {i !== 0 && <br />}
          {description}
        </>
      ))
    }
  </p>
</>
